<p id="notice"><%= notice %></p>

<p>
  <strong>Store name:</strong>
  <%= @store.store_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @store.location %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @store.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @store.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @store.zip_code %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @store.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @store.longitude %>
</p>

<p>
  <strong>County:</strong>
  <%= @store.county %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
